body {
  background-color: #84c2c7;
  margin: 0;
  /* height: 100%; */
}

.container{
  width: 70%;
    margin: 0px auto;
    /* background-color: #ffffff; */
    background: linear-gradient(to right, #ffffff, #fcffe6);
    padding: 2%;
    border-radius: 10px;
    border: 3px solid #0059ff;
}

#nav{
  background-color: #742525;
  padding: 5px;
  margin: 0 0 15px 0px;
  text-align: center;
}

#footer{
  background-color: blanchedalmond;
  padding: 5px;
  margin: 10px 0px;
  text-align: center;
}

/* #logo{
  width: 5%;
  padding: 3px;
} */

a.title{
  color: rgb(255, 255, 255);
}

li.title {
  display: inline;
  padding: 0 5%;
}

#contacto{
  display: flex;
}



#content {
  overflow: auto;
  height: 100%;
}

.columna-derecha {
  text-align: right;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

.img {
  width: auto;
  height: 90px;
}

i {
  font-style: italic;
}
