body {
  background-color: #e9e9e9;
  margin: 0;
}

.container {
  width: 60%;
  margin: 0px auto;
  /* background-color: #ffffff; */
  background: linear-gradient(to right, #ffffff, #fcffe6);
  padding: 2%;
  border-radius: 10px;
  border: 3px solid #a52a2a;
  box-shadow: 2px 2px 5px 0 rgba(20, 20, 20, 0.4);
}

#nav {
  background-color: #742525;
  padding: 5px;
  margin: 0 0 15px 0px;
  text-align: center;
}

strong.nombre {
  color: brown;
  font-weight: bold;
  font-size: 20px;
}

#footer {
  background-color: blanchedalmond;
  padding: 5px;
  margin: 10px 0px;
  text-align: center;
}

a.title {
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li.title {
  display: inline;
  padding: 0 5%;
}

#contacto {
  display: flex;
}



#content {
  overflow: auto;
  height: 100%;
}

.columna-derecha {
  text-align: right;
}

h1 {
  color: #a52a2a;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-size: 1.3em;
}

h3{
  color: #a52a2a;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.redes{
  display: flex;
  justify-content:center;
}

.img {
  width: auto;
  height: 50px;
  padding: 0 15px;
}

.img:hover{
  transform: scale(1.3);
}

i {
  font-style: italic;
}

i.fa-brands fa-github{
  width: 500px;
}

img.up{
  width: 60px;
  height: auto;
}

img.up:hover{
  transform: scale(1.2);
}

.arriba{
  display: flex;
  justify-content: end;
  padding-right: 5%;
}

.button{
  text-align: left;
}




/*Estilo Suma*/

#suma {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#numero {
  font-size: 24px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#boton {
  color: #ccc;
  background-color: #742525;
  font-size: 18px;
  padding: 7px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

#resultado {
  color: #ff5100;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}